div.items-container {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%; 
	gap: 0;
}

div.item-container {
	border: solid 1px white;
	padding: 15px;
}

div.item-name, div.item-buildable, div.item-equippable {
	font-weight: bold;
}

div.item-container div {
	margin: 15px;
}

div.item-description {
	text-align: justify;
	height: 100px;
	overflow: scroll;
	border: solid 1px white;
	padding: 15px;
}

div.item-container table {
	margin: 0 auto;
}

div.item-container table th,
div.item-container table td {
	padding: 5px;
	min-width: 100px;
}
